<?xml version="1.0"?>
<robot name="origins">
  <link name="base_link">
    <visual>
      <geometry>
        <cylinder length="0.6" radius="0.2"/>
      </geometry>
    </visual>
  </link>






  <link name="1stbox">
    <visual>
      <geometry>
        <box size="0.6 0.1 0.2"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.3 0 0.1"/>
    </visual>
  </link>

<link name="2stbox">
    <visual>
      <geometry>
        <box size="0.6 0.1 0.2"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.3 0 0"/>
    </visual>
  </link>






  <joint name="base_to_right_leg" type="fixed">
    <parent link="base_link"/>
    <child link="1stbox"/>
    <limit effort="1000.0" lower="-1" upper="1" velocity="0.5"/>
    <axis xyz ="0 0 1"/>
    <origin xyz="0 0 0.3"/>
  </joint>


  <joint name="base_to_next_part" type="fixed">
    <parent link="1stbox"/>
    <child link="2stbox"/>
    <limit effort="1000.0" lower="-1" upper="1" velocity="0.5"/>
    <axis xyz ="0 0 1"/>
    <origin xyz="0.6 0 0.1"/>
  </joint>


</robot>
